aniso8601 
appnope 
asttokens 
autopep8 
backcall 
bleach==5.0.0
brotlipy 
cachetools==4.2.4
certifi==2021.10.8
cffi 
charset-normalizer 
click 
commonmark==0.9.1
cryptography 
cycler 
dateparser==1.1.0
debugpy 
decorator 
docutils==0.18.1
ecdsa 
ecole 
entrypoints 
executing 
Flask 
Flask-Cors 
Flask-RESTful 
Flask-SQLAlchemy 
fonttools==4.25.0
google-auth==2.3.3
greenlet 
idna 
importlib-metadata==4.11.3
ipykernel .7.0-py3-none-any.whl
ipython 
itsdangerous 
jedi 
Jinja2 
jupyter-client 
jupyter-core 
keycloak-client==0.15.4
keyring==23.5.0
kiwisolver 
kubernetes==21.7.0
MarkupSafe 
matplotlib 
matplotlib-inline 
munkres==1.1.4
nest-asyncio 
networkx 
numpy 
oauthlib==3.1.1
packaging 
paho-mqtt==1.6.0
pandas==1.3.5
parso 
pexpect 
pickleshare 
Pillow==9.0.1
pkginfo==1.8.2
prometheus-api-client==0.5.0
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess .7.0-py2.py3-none-any.whl
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil 
python-jose 
python-jsonrpc-server==0.4.0
python-keycloak 
python-keycloak-client==0.2.3
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq 
readme-renderer==35.0
regex==2021.11.10
requests 
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.1
rsa 
rstcheck==3.3.1
scipy 
six 
SQLAlchemy 
stack-data 
StrEnum==0.4.7
toml 
tornado 
traitlets 
twine==4.0.0
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
urllib3 
waitress 
wcwidth 
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug 
zipp==3.8.0
